/* app css below */

    /* html {
    font-size: 62.5%;
    }
    
    body {
        background: linear-gradient(141deg, #b9b9b9 0%, #d9d9da 51%, #505050 75%);
        font-family: Noto Sans, Helvetica, sans-serif;
        color: #666;
        letter-spacing: 1px;
        min-height: 100vh;
        font-size: 1.6rem;
    } */
    /* ----- header css starts here ----- */
    /* header {
        text-align: center;
        margin: 2rem 0 1rem 0;

    }
    
        .links {
        text-transform: uppercase;
        text-align: center;
        font-size: 150%;
        margin-top: 4rem;
    
        }
    
        .link:link,
        .link:visited {
            padding: 0.5rem 1rem;
            margin: 2rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            transition: all 0.3s;
        }
    
        .link:hover,
        .link:active {
            border-bottom: 2px solid rgb(4, 141, 15);
        }
        
    
    h1 {
        display: inline-block;
        font-size: 200%;
    }
    
    h1,
    h2 {
        color: white;
    }
    /* ----- header css ends here ----- */
    /* ----- main content css starts here ----- */
    /* .upload-page {
        margin-top: 2rem;
    }
    
    .upload-form {
        width: 60%;
        margin: auto;
        margin-top: 2rem;
        padding: 2rem;
        border: 1px solid #000;
        padding-left: 20%;
        background: #eee;
    }
    
    .main-content {
        width: 80%;
        margin: auto auto 10rem auto;
    }
    
    .photos-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
        .photo {
        width: flex;
        overflow: hidden;
        margin: 0.5rem;
    
        } */ */
    /* ----- main content css ends here----- */
    /* ----- buttons css starts here----- */
    /* button {
        margin-right: 0.5rem;
    }
    
    .submit-btn {
        margin-top: 2rem;
        font-size: 1.6rem;
    }
    
    .disabled {
        pointer-events: none;
    } */
    /* ----- buttons css ends here ----- */
    /* ----- messages css starts here ----- */
    /* .errorMsg {
        color: #f21e08;
        background: #fff0f0;
        padding: 1rem;
    }
    
    .successMsg {
        color: #00ff00;
        background: #077707;
        padding: 1rem;
    }
    
    .centered-message {
        width: 50rem;
        margin: auto;
    }
    
    .message {
        color: #0e1b1e;
        font-size: 2.5rem;
        margin-left: 1rem;
    }
    
    .loading-msg {
        text-align: center;
        font-size: 200%;
        height: 20rem;
        line-height: 20rem;
    } */
    /* ----- messages css ends here ----- */
    /* @media only screen and (max-width: 1200px) {
        .main-content {
        width: 100%;
        }
    }
    
    @media only screen and (max-width: 620px) {
        body {
        font-size: 1.3rem;
        }
    
        .main-content {
        width: 100%;
        }
    
        .photos-list {
            width: 80%;
        }
    } */